@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://bestiary.ca/images/bg2.gif");
    font-family: 'Uncial Antiqua', cursive;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-columns: 0.4fr 4fr;
    grid-template-rows: 1fr 5fr; 
    height: 100vh;
    overflow-y: auto;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #92400e;
    opacity: 0.8;
    border-right: 1px solid #f59e0b;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    gap: 15px;
}

.sidebar h1 {
    color: #f59e0b;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 8px rgba(255, 165, 0, 0.5);
}

.sidebar img {
    height: 6rem;
    width: 6rem;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.sidebar img:hover {
    transform: scale(1.1);
}

.hud-content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; 
    position: relative;
}

.hud-content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.hero-section {
    max-width: 80%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    position: absolute;
}

.hero-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffdd57;
    text-shadow: 0 0 10px #ffdd57;
}

.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: whitesmoke;
}

.hero-section button {
    padding: 10px 20px;
    background-color: #991b1b;
    border: none;
    color: #ffff;
    font-family: 'Uncial Antiqua', cursive;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.hero-section button:hover {
    background-color: #b91c1c;
    transform: scale(1.05);
}

.game-content {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: none;
    grid-template-rows: 0.5fr 0.5fr 4fr;
}

.game-content img {
    grid-row: 1 / 2;
    width: 100%;
    height: 115px;
    object-fit: cover;
    object-position: 50% 70%;
}

.header-img {
    position: relative;
}

.header-click {
    grid-row: 1 / 2;
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.7); 
    border-bottom: 2px solid #f59e0b; 
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); 
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transform: translateX(-1%); 
    animation: slideInFromLeft 0.7s ease-out forwards; 
}

@keyframes slideInFromLeft {
    from {
        transform: translateX(-1%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.header-click img {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
    border: 2px solid #ffdd57; 
    box-shadow: 0px 2px 4px rgba(255, 223, 87, 0.5);
    transition: transform 0.3s ease;
}

.header-click img:hover {
    transform: scale(1.1);
}

.right-header, .left-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.left-header p {
    font-size: 1rem;
    color: #ffdd57; 
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.2s ease; 
}

.left-header p:hover {
    color: #ffffff; 
    transform: scale(1.1); 
}

.right-header img {
    width: 65px;
    height: 65px;
    border-radius: 10px; 
    object-fit: cover;
    border: 2px solid #f59e0b;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

#game-board {
    grid-row: 3 / 5;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 24rem;
    height: 24rem;
    margin: 0 auto;
    border: 4px solid #f59e0b;
    border-radius: 10px;
    background-color: #222222;
}

#game-board div {
    border: 4px solid #f59e0b;
}

#game-board div:hover {
    background-color: #555555;
}

.left-header p:hover {
    color: #ffffff;
    transform: scale(1.1);
}

.hero-section button:hover {
    background-color: #b91c1c;
    transform: scale(1.05);
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 3rem;
}

#right-title {
    transform: rotateY(180deg);
}

.title img {
    padding: 10px;
    width: 7rem;
    height: auto;
}

.title h2 {
    align-self: center;
    justify-self: center;
    font-weight: bold;
    color: #991b1b;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(255, 223, 87, 0.6);
    border-bottom: 2px solid #991b1b;
    border-radius: 8px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.lamps {
    display: flex;
    gap: 40rem;
    margin-left: 9.5rem;
    margin-bottom: 10rem;
}

.lamps img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;   
    filter: drop-shadow(0px 0px 10px rgba(255, 165, 0, 0.8));
}